<header>
  <nav class="navbar navbar-dark bg-dark sticky-top justify-content-around">
    <div class="">
      <p><span class=""><%= link_to "Auction", home_path, class: "navbar-brand brand" %></span></p>
    </div>

    <div class="form-inline">
      <div class="head-container">
        <p><a class=""><%= link_to "log in", profile_path, class: "head-link text-white-50" %></a></p>
        <p><a class=""><%= link_to "register", profile_path, class: "head-link text-white-50" %></a></p>
      </div>
    </div>
  </nav>
</header>