<div class="good-box border border-dark rounded">

  <div class="good-content d-flex align-items-start flex-column">
    <div class="good-title">
      <p class="text-dark"><%= product.title %></p>
    </div>
    <div class="body">
      <%= product.text %>
    </div>
    <div class="good-info d-flex container justify-content-between">
      <p class="">Price: <%= product.price %></p>
      <button type="button" class="btn btn-danger">Put up for auction</button>
    </div>
  </div>
</div>