<%= render 'head' %>
<main role="main" class="d-flex justify-content-center container flex-column">
  <%= render 'head_profile' %>

  <dev class="">
    <%= render 'body_product' %>
    <%= render 'body_product' %>

  </dev>
</main>