<%= render 'head_unauth' %>
<main role="main" class="d-flex justify-content-center container flex-column">
  <%= render 'head_profile' %>

  <dev class="">
    <% @products.each do |product| %>
      <%= render 'body_product', product: product %>
    <% end %>

  </dev>
</main>