<%= render 'head' %>
<main role="main" class="d-flex justify-content-center container flex-column">
  <%= render 'head_profile' %>

  <%= render 'product' %>
  <%= render 'product' %>


  </dev>
</main>